html, body {
  margin: 0;
  padding: 0;
  background: #1a1f13;
}

#world {
  width: 1200px;
  height: 600px;
  /*border-bottom: 3px solid black;*/
  position: relative;
  margin: 0px auto;
  overflow: hidden;
  /*background: linear-gradient(to bottom, #7da7be, #878cb1); //dusk*/
  background: linear-gradient(to bottom, #9be2fe 0%, #67d1fb 70%); //day
  /*background: linear-gradient(to bottom, #244970, #ae9d4e); //nighttime*/
  transform: translate3d(0,0,0);
}
#background div, #foreground div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 2000px;
  background-position: 0 0;
}
#world > div {
  position: absolute;
  transform: translate3d(0,0,0);
  height: 100%;
  width: 100%;
}
#world div {
  position: absolute;
}


.ledge {
  background: #777;
}
.solid.ledge {
  background: #333;
}

.blind {
  background: green;
}

.bucket {
  background: red;
}
.washed-item {
  background: brown;
}

.ledge, .blind {
  display: none;
}

.sticky-right {
  border-right: 2px solid #040
}
.sticky-left {
  border-left: 2px solid #040
}
.sticky-bottom {
  border-bottom: 2px solid #040
}

#background .fire {
  animation: fire .6s steps(8) infinite;
}

@keyframes fire {
  100% { background-position: -1600px; }
}

#background .drawbridge.lower {
  animation: drawbridgeLower 2s steps(12) forwards;
}

@keyframes drawbridgeLower {
  100% { background-position: -5208px; }
}
